
<h1>{{data}}</h1>
<h2>{{2+2}}</h2>
<h3>{{getname()}}</h3>

<input type="text" #info>
<button (click)="getData(info.value)">Click me</button>
<h2>{{Myvalue}}</h2>

<input [(ngModel)]="newName" type="text"> <br><br>
{{newName}}

<h2>"Hello, {{parentData}}"</h2>

<button (click)="clickevent()">Click me</button>

<h3>{{50.89 | currency: 'NGN': 'symbol'}}</h3>

<h2>{{date}}</h2>
<h2>{{date | date:"short"}}</h2>
<h2>{{date | date:"longDate"}}</h2>
<h2>{{date | date:"mediumDate"}}</h2>
<h2>{{date | date:"longTime"}}</h2>
<h2>{{date | date:"mediumTime"}}</h2>
<h2>{{date | date:"shortTime"}}</h2>