
<div class="loginbar" fxLayoutAlign="center">
    <mat-card fxFlex="30">
      <mat-toolbar color="primary" class="toolbar" >Login Form Using Material</mat-toolbar>
       <form fxLayoutAlign="strech" fxLayout="column">
          <mat-form-field>
             <input fxLayout="row" matInput  placeholder="Username">
          </mat-form-field>

          <mat-form-field>
            <input fxLayout="row" matInput  placeholder="Password">
         </mat-form-field> 
         <button mat-raised-button color="primary"type="submit">LogIn</button>
       </form>
    </mat-card>
</div>