<!--
<h2>Welcome to {{title}}</h2>


<app-interpolation (childEvent)="message=$event" [parentData]="interactData"></app-interpolation>
>
-->
<h1>Welcome To Boski Tutorial Hub</h1>
<div style="margin-bottom:20px;" fxLayout="row" fxLayoutAlign="space-between center">
<button mat-raised-button color="primary" routerLink="/login">Login page</button>
<button mat-raised-button color="primary" routerLink="/reactiveforms">Reactive Forms</button>
<button mat-raised-button color="primary" routerLink="/calculator">Calculator</button>
<button mat-raised-button color="primary" routerLink="/bmi">BMI Calculator</button>
<button mat-raised-button color="primary" routerLink="/formval">Form Validation</button>
<button mat-raised-button color="primary" routerLink="/enroll">Enrollment Form   </button>
<button mat-raised-button color="primary" routerLink="/employee">Employee List</button>
</div>
<router-outlet></router-outlet>